.app-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
body{
    background: #e0eafc;
}

h1 {
    text-align: center;
    color: #444;
    font-family: 'Pacifico', cursive;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

span {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 16px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 20px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #ff1a1a;
}

/* src/App.css */
input[type="text"] {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.2s, box-shadow 0.2s;
    display: block;
}

input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.add-task-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

h1 {
    color: #444;
    font-family: 'Pacifico', cursive;
    margin: 0;
}